# 3.5 Creation and use of Python Functions

In [5]:
# Defining the first function
def sumfunct():
    numA = float(input("Number A"))
    numB = float(input("Number B"))
    numC = float(input("Number C"))
    sumAll = numA + numB + numC
    print('The sum of the numbers you entered is', sumAll)

In [6]:
# Defining the second function
def my_function1():
    myName = input('What is your name please: ')
    print('welcome' + myName + 'to your first python function program')
    sumfunct() # calling the first Function

In [7]:
# calling the functions we have defined
print('TFunction calls activated')
my_function1()

TFunction calls activated
What is your name please: Joseph Udoh
welcomeJoseph Udohto your first python function program
Number A23
Number B34
Number C45
The sum of the numbers you entered is 102.0

## Inputing data to a function

In [8]:
def myStringFunction(stringIn):
    print('This is ' + stringIn)
    
myStringFunction("Coconut")
myStringFunction("Banana")
myStringFunction("Lemon")

This is Coconut
This is Banana
This is Lemon

In [9]:
def notKnowing(*classNames):
    print(classNames[2], 'is in class today.')
notKnowing('Timkere', 'Ataimo', 'Happiness', 'Divine') # Giving four inputs
notKnowing('Unwana', 'Timkere', 'Ataimo','Happiness','Divine') # Giving five inputs

Happiness is in class today.
Ataimo is in class today.

## A function to return value

In [10]:
def returnValue(number):
    return 123 * number
print(returnValue(8))
print(returnValue(10))
print(returnValue(100))

984
1230
12300

### Because of time, we cannot follow the material topic by topic. You will have to read some of the topics on your own and practice them. Read from page 77 to 87 and practice them.

## DATA DICTIONARY and DATA INDEXING

 ### A dictionary is an unordered, changeable and indexed collection of items. Dictionaries are created using Curly Brackets

In [11]:
myDictionary = {
    "Track Name": "Data Science",
    "Hall Number": "Conference Room 002",
    "Class Size": "38 Students",
    "Instructor Name": "I' mKing Udonyah"
}
print(myDictionary)

{'Track Name': 'Data Science', 'Hall Number': 'Conference Room 002', 'Class Size': '38 Students', 'Instructor Name': "I' mKing Udonyah"}

## Accessing values from a Dictionary

In [12]:
# Getting the value for the key Track Name
print(myDictionary['Track Name'])
# Getting the value for the key Class Size
print(myDictionary.get('Class Size'))
# Getting value for a none existing key
print(myDictionary.get('Course Rep'))

Data Science
38 Students
None

## Adding values into a Dictionary

In [13]:
myDictionary['Program Year'] = 2022
myDictionary # calling my Dict

{'Track Name': 'Data Science',
 'Hall Number': 'Conference Room 002',
 'Class Size': '38 Students',
 'Instructor Name': "I' mKing Udonyah",
 'Program Year': 2022}

## Looping through a Dectionary

In [14]:
# Using the for loop to return the keys in the Dictionary
for me in myDictionary:
    print(me)

Track Name
Hall Number
Class Size
Instructor Name
Program Year

In [15]:
# Using the for loop to return the values in the dictionary
for em in myDictionary:
    print(myDictionary[em])
    
print('==================================================')
print('Using another code structure to print the same thing')
print('==================================================')

for them in myDictionary.values():
    print(them)

Data Science
Conference Room 002
38 Students
I' mKing Udonyah
2022
==================================================
Using another code structure to print the same thing
==================================================
Data Science
Conference Room 002
38 Students
I' mKing Udonyah
2022

In [16]:
# Accessing both the keys and variable
for every in myDictionary:
    print(every + ':', myDictionary[every])
print('====================================================')
print('Using another code structure to print the same thing')
print('====================================================')
for keys, valuez in myDictionary.items():
    print(keys + ':', valuez)

Track Name: Data Science
Hall Number: Conference Room 002
Class Size: 38 Students
Instructor Name: I' mKing Udonyah
Program Year: 2022
====================================================
Using another code structure to print the same thing
====================================================
Track Name: Data Science
Hall Number: Conference Room 002
Class Size: 38 Students
Instructor Name: I' mKing Udonyah
Program Year: 2022

### There are so many things you could do with the dictionary including:

In [19]:
1. Checking if a key is present in the dictionary
2. Adding a new element into the dictionary
3. Removing elements from the dictionary
4. Deleting the whole Dictionary
5. Finding the lenght of the Dictionary etc.

All the above are in the materials that we have for this course

SyntaxError: invalid syntax (3388220849.py, line 1)

## Nested Dictionary

#### Dictionary inside another Dictionary

In [24]:
# Getting a textfile
myFile = open("weekDays.txt", "r")
print(myFile.read())

Monday		1
Tuesday		2
Wednesday	3
Thursday	4
Friday		5
Saturday	6
Sunday		7

In [1]:
mybirds = ["Parrot", "Sparrow","Crow", "Eagle"]
mybirds.insert(1,'Crow')
mybirds

['Parrot', 'Crow', 'Sparrow', 'Crow', 'Eagle']

In [1]:
mybirds = ["Parrot", "Sparrow","Crow", "Eagle"]
mybirds.remove("Pigeon")
mybirds

ValueError: list.remove(x): x not in list